@tailwind base;
@tailwind components;
@tailwind utilities;

.EasyMDEContainer > :first-child {
  border: 0 !important;
  height: calc(100vh - 64px) !important;
}

[data-week-anchor='1']:has([data-week-link='true']:hover) ~ [data-week-num='1'],
[data-week-anchor='2']:has([data-week-link='true']:hover) ~ [data-week-num='2'],
[data-week-anchor='3']:has([data-week-link='true']:hover) ~ [data-week-num='3'],
[data-week-anchor='4']:has([data-week-link='true']:hover) ~ [data-week-num='4'],
[data-week-anchor='5']:has([data-week-link='true']:hover) ~ [data-week-num='5'],
[data-week-anchor='6']:has([data-week-link='true']:hover) ~ [data-week-num='6'] {
  @apply bg-yellow-50;
}

[data-week-anchor]:hover > [data-week-link='true'],
[data-week-anchor='1']:has(~ [data-week-num='1']:hover) > [data-week-link='true'],
[data-week-anchor='2']:has(~ [data-week-num='2']:hover) > [data-week-link='true'],
[data-week-anchor='3']:has(~ [data-week-num='3']:hover) > [data-week-link='true'],
[data-week-anchor='4']:has(~ [data-week-num='4']:hover) > [data-week-link='true'],
[data-week-anchor='5']:has(~ [data-week-num='5']:hover) > [data-week-link='true'],
[data-week-anchor='6']:has(~ [data-week-num='6']:hover) > [data-week-link='true'] {
  opacity: 100%;
}
